.container {
    display: block;
    position: relative;
    width: auto;
    max-width: 1222px;
    padding: 0 25px;
    margin: 0 auto;
}
.body--active{
  overflow: hidden;
}
.top {
  display: block;
  position: relative;
  background: #e9ded4;
  padding: 120px 0 130px;
  overflow: hidden;
  &-overlay {
    background-image: url("../img/top-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    mix-blend-mode: color-burn;
    top: 0;
    z-index: 1;
  }
  &__wrap {
    display: flex;
    position: relative;
  }
  &__article {
    display: block;
    position: relative;
    max-width: 542px;
    z-index: 1;
    &-title {
      font-size: 6em;
      font-style: normal;
      font-weight: 400;
      line-height: 110%; /* 66px */
      text-transform: uppercase;
      padding: 4px 0 0 0;
      &--center {
        font-size: 1em;
        text-align: center;
        width: 100%;
        display: block;
        line-height: 109%;
      }
      &--right {
        font-size: 1em;
        text-align: right;
        width: 100%;
        display: block;
        line-height: 112%;
      }
    }
    &-subtitle {
      font-family: "Golos Text";
      font-size: 1.8em;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 23.4px */
      padding: 23px 0 42px;
      text-align: center;
    }
    &-buttons {
      display: flex;
      position: relative;
      gap: 16px;
      &-link{
        display: block;
        position: relative;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
      }
      &-support,
      &-more{
        border-radius: 66px;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        width: 263px;
        transition: all .3s linear;
        -webkit-tap-highlight-color: transparent;
        
      }
      &-support {
        border-radius: 66px;
        background: #1f1f1f;
        color: #fff;
        border: none;
        padding: 14px 35px;
        width: 263px;
        &:hover{
          color: #1f1f1f;
          background: #FBCE51;
        }
      }
      &-more {
        border: 2px solid #1f1f1f;
        color: #1f1f1f;
        text-align: center;
        leading-trim: both;
        text-edge: cap;
        padding: 11px 61px;
        &:hover{
          color: #FFF;
          background: #1f1f1f;
        }
      }
    }
  }
  &__circle {
    display: block;
    position: absolute;
    right: -3.2%;
    top: -36.9%;
    width: 660px;
    height: 660px;
    border-radius: 50%;
    background: #fbce51;
    &::before {
      content: "";
      display: block;
      background-image: url("../img/topcirlce.png");
      background-size: 118%;
      position: relative;
      width: 100%;
      height: 100%;
      mix-blend-mode: overlay;
      background-position: center;
      animation: rotate-animation 30s infinite linear;
    }
  }
  &__chess {
    &-figure-1 {
      display: block;
      position: absolute;
      width: 147px;
      height: 266px;
      bottom: -24%;
      left: 65%;

      &::before {
        content: "";
        background-image: url("../img/king.png");
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        left: -94%;
        top: 27%;
      }
      &::after {
        content: "";
        background-image: url("../img/bishop.png");
        display: block;
        position: absolute;
        width: 125%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        bottom: 12%;
        left: 132%;
      }
      &--active{
        bottom: 23%;
        transition: all .3s linear;
      }
    }
    &-figure-2 {
      display: block;
      position: absolute;
      width: 179px;
      height: 197px;
      bottom: -130px;
      right: 267px;
      z-index: 1;
      &::before {
        content: "";
        background-image: url("../img/knight.png");
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
      }
      &::after {
        content: "";
        background-image: url("../img/pawn.png");
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: auto;
        bottom: -30%;
        right: -218%;
      }
    }
  }
  &__city {
    display: block;
    position: absolute;
    bottom: -16px;
    left: 10px;
    // width: -webkit-fill-available;
    height: 453px;
    width: 100%;
    background-image: url("../img/city.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
}

.support-tournir {
  display: block;
  position: relative;
  padding: 80px 0;
  &__wrap {
    &-desktop {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }
    &-mobile {
      display: none;
    }
  }
  &__article {
    width: auto;
    max-width: 764px;
    &-howto {
      font-size: 3.6em;
      font-style: normal;
      font-weight: 400;
      line-height: 135%; /* 48.6px */
      text-transform: uppercase;
      &-topic {
        font-size: 1em;
      }
    }
  }
  &__picture {
    display: block;
    width: 394px;
    height: auto;
    &-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  &__event {
    &-wrap {
      display: flex;
      position: relative;
      padding: 61px 0 0 0;
      align-items: center;
      justify-content: flex-end;
    }
    &-picture {
      display: block;
      position: absolute;
      left: -27px;
      top: 33px;
    }
    &-article {
      display: block;
      max-width: 704px;
      &-game {
        font-family: Merriweather;
        font-size: 3.6em;
        font-style: normal;
        font-weight: 400;
        line-height: 135%; /* 48.6px */
        text-transform: uppercase;
        &-boards {
          font-size: 1em;
        }
      }
    }

    &-about {
      &-list {
        display: block;
        position: relative;
        list-style: none;
        padding: 61px 0 49px 0;
        &-item {
          display: flex;
          position: relative;
          &-question {
            width: 305px;
            font-family: "Golos Text";
            font-size: 2em;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 24px */
            opacity: 0.7;
            padding: 15px 0;
            border-right: 2px solid #d0d0d0;
            &-first {
              padding: 0 0 15px;
            }
            &-last {
              padding: 15px 0 0 0;
            }
          }
          &-answer {
            font-family: "Golos Text";
            font-size: 2em;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 24px */
            padding: 15px 0 15px 15px;
            &-first {
              padding: 0 0 15px 15px;
            }
            &-last {
              padding: 15px 0 0 15px;
            }
            &-oldprice{
              font-family: "Golos Text";
                font-size: 1em;
                position: relative;
                margin-right: 7px;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 101%;
                    top: 44%;
                    height: 2px;
                    background-color: #F54932;
                }
            }
          }
          &:not(:first-child) {
            border-top: 2px solid #d0d0d0;
          }
        }
      }
    }
    &-questions {
      font-family: "Golos Text";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%; /* 24px */
    }
  }
}

.evolution {
  display: block;
  position: relative;
  padding: 119px 0 201px;
  &__title {
    display: block;
    position: relative;
    max-width: 806px;
    font-size: 5.4em;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    &::after {
      content: "Будущие источники обогащения васюкинцев";
      display: inline-block;
      position: absolute;
      margin: 6px 0 0 19px;
      max-width: 304px;
      color: #3057a2;
      font-family: "Golos Text";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-transform: none;
    }
  }
  &__list {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 394px);
    grid-template-rows: repeat(3, auto);
    list-style: none;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 54px 0 0 0;
    &-item {
        display: flex;
        position: relative;
      background-image: url("../img/evolution-grid-bg.png");
      background-size: 100%;
      
      &-text {
        font-family: "Golos Text";
        font-size: 2em;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 24px */
        padding: 20px 17px 20px 20px;
        width: 302px;
        &-07 {
          font-family: "Golos Text";
          font-size: 2em;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 24px */
          padding: 20px 17px 20px 20px;
          width: 446px;
        }
      }
      &-num {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #313131;
        font-family: "Golos Text";
        font-size: 2em;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        margin: 20px 0 0 20px;
      }
      &-03 {
        grid-area: 1 / 3 / 3 / 4;
      }
      &-07 {
        grid-area: 3 / 2 / 4 / 4;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 10px;
            right: -41px;
            width: 359px;
            height: 208px;
            background-image: url("../img/evolution-airplane.png");
            background-size: 100%;
            background-repeat: no-repeat;
          }
      }
    }
    
  }
  &__swiper {
    display: none;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -130px;
        left: 27px;
        width: 304px;
        height: 208px;
        background-image: url(../img/evolution-airplane-375.png);
        background-size: 100%;
        background-repeat: no-repeat;
        z-index: 2;
      }

    &-pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 178px;
      height: 47px;
      top: 48px;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      &-next,&-prev{
        position: relative;
        width: 44px;
        height: 44px;
        display: block;
        right: unset;
        left: unset;
        bottom: unset;
        top: unset;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        &-circle{
          &:hover{
            -webkit-tap-highlight-color: transparent;
            fill: #FBCE51;
          }
        }
      }
      &-counter {
        width: 95px !important;
        text-align: center;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
        right: unset !important;
        left: unset !important;
        bottom: unset !important;
        top: unset !important;
      }
      .swiper-pagination-current,
      .swiper-pagination-total {
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
      }
    }
    .evolutionSwiper{
        padding: 0 0 25px 0;
    }
    .swiper-pagination-bullet-active{
        background: #313131;
    }
    .swiper-pagination-bullet{
      width: 10px;
      height: 10px;
      margin: 4px 3px 3px 3px !important; 
    }
  }
}

.members {
  display: block;
  position: relative;
  padding: 0 0 110px 0;
  &__title {
    display: block;
    position: relative;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 64.8px */
    text-transform: uppercase;
  }
  &__swiper {
    display: block;
    position: relative;

    &-pagination {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 154px;
      height: 45px;
      right: 22px;
      top: 8px;
      &-next,&-prev{
        position: relative;
        width: 44px;
        height: 44px;
        display: block;
        right: unset;
        left: unset;
        bottom: unset;
        top: unset;
        margin: 0;
        -webkit-tap-highlight-color: transparent;
        &-circle{
          -webkit-tap-highlight-color: transparent;
          &:hover{
            fill: #FBCE51;
          }
        }
      }
      &-next{
        left:-3px;
      }
      &-counter {
        position: relative;
        width: 53px;
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
        bottom: unset;
      }
      .swiper-pagination-current,
      .swiper-pagination-total {
        font-family: "Golos Text";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 19.2px */
      }
    }
    &-person {
      &-list {
        padding: 59px 0 0 0;
        &-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-img {
            width: 320px;
            height: 320px;
            background-image: url("../img/slider-person-bg.png");
            display: block;
            position: relative;
            background-repeat: no-repeat;
            background-size: 300%;
            background-position: center;
            border-radius: 50%;
            overflow: hidden;
            &::before {
              content: "";
              background-image: url("../img/slider-person.png");
              display: block;
              position: absolute;
              background-size: 100%;
              height: 334px;
              width: 293px;
              bottom: -34px;
              left: 14px;
              background-repeat: no-repeat;
              background-position: bottom;
            }
          }
          &-desc {
            display: block;
            text-align: center;
            padding: 30px 0;
          }
          &-name {
            font-family: "Golos Text";
            font-size: 2.4em;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 28.8px */
          }
          &-titul {
            font-family: "Golos Text";
            font-size: 2em;
            font-style: normal;
            font-weight: 400;
            line-height: 120%; /* 24px */
            opacity: 0.6;
            padding: 5px 0 19px;
          }
          &-more {
            leading-trim: both;
            text-edge: cap;
            font-family: "Golos Text";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 19.2px */
            border-radius: 62px;
            border: 1px solid #3057a2;
            padding: 7px 12px;
            transition: all .3s linear;
            -webkit-tap-highlight-color: transparent;
            &:hover{
              color:#FFF;
              background: #3057a2;
            }
          }
        }
      }
    }
  }
  &__popup{
    &-bg{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.5);
      opacity: 0;
      pointer-events: none;
      z-index: 10;
      transition: 0.5s all;
      &--active{
        opacity: 1;
        pointer-events: all;
        transition: 0.5s all;
      }
    }
    &-form{
      position: absolute;
      border-radius: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: #fff;
      width: 400px;
      padding: 25px;
      z-index: 11;
      transition: 0.5s all;
      &-close{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
      }
      &-name,&-titul,&-title{
        font-family: "Golos Text";
        font-size: 2.4em;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
      }
      &-title{
        font-weight: 600;
      }
      
      &--active{
        transform: translate(-50%, -50%) scale(1);
        transition: 0.5s all;
      }
    }
    
  }
}

.marquee {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background: #f54932;
  &__content {
    color: #fff;
    text-align: right;
    font-size: 2.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 24.2px */
    text-transform: uppercase;
    padding: 18px 0;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

@keyframes rotate-animation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}